<GridLayout>
    <StackLayout>
        <StackLayout>
            <!-- <StackLayout>
                <StackLayout>
                    <StackLayout>
                        <StackLayout>
                            <StackLayout>
                                <StackLayout>
                                    <StackLayout>
                                        <StackLayout>
                                            <StackLayout>
                                                <StackLayout>
                                                    <StackLayout>
                                                        <StackLayout> -->
                                                            <StackLayout>
                                                                <Label text="Page 1"></Label>
                                                            </StackLayout>
                                                        <!-- </StackLayout>
                                                    </StackLayout>
                                                </StackLayout>
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout> -->
        </StackLayout>
    </StackLayout>
</GridLayout>
