<ActionBar title="WrapLayout" class="action-bar"></ActionBar>
<StackLayout class="page">

    <WrapLayout>
        <Label text="Item A "></Label>
        <Label text="Item B "></Label>
        <Label text="Item C "></Label>
        <Label text="Item D "></Label>
        <Label text="Item E "></Label>
        <Label text="Item F "></Label>
        <Label text="Item G "></Label>
        <Label text="Item H "></Label>
        <Label text="Item I "></Label>
        <Label text="Item J "></Label>
    </WrapLayout>
</StackLayout>
