<ActionBar title="StackLayout" class="action-bar"></ActionBar>
<StackLayout class="page">

    <StackLayout>
        <Label textWrap="true" text="Label 1 sefs isfiehfis sfihifeis fs hisfhies h hfisheifish hsufeghsifhse shifhseihf hisfhesifhes hsifhseifhs shifhiesifhseh hjsifhesihf"></Label>
        <Label text="Label 2"></Label>
        <Label text="Label 3"></Label>
    </StackLayout>

    <Label margin="40"></Label>

    <StackLayout row="1" orientation="horizontal">
        <Label marginRight="20" text="Label 1"></Label>
        <Label marginRight="20" text="Label 2"></Label>
        <Label text="Label 3"></Label>
    </StackLayout>
</StackLayout>
